@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

:root{
    --primary-color: #606C38;
    --secondary-color: #BC6C25;
    --accent1-color:  #283618;
    --accent2-color: #DDA15E;

    --heading-font:'Inter', sans-serif;
    --paragragh-font:'Inter', sans-serif;

    --nav-background-color: #b6b087;
    --nav-link-color: #283618;
    --nav-hover-link-color: #283618;
    --nav-hover-background-color: #7c886f;
}

main{
    width: 900px;
}

section{
    width: 900px;
}
.hero{
    position: relative;
    text-align: center;
}

.hero h1{
    color: #fefefe;
    position: absolute;
    top: 10%;
    left: 0%;
    background-color: #DDA15E; opacity: .8;
    width: 80%;
}

.hero article{
    position: absolute;
}

.hero img{
    display: block;
    width: 900px;
    height: 400px;
}

article{
    width: 300rem;
    text-align: center;
    position: relative;
}

.centered img{
    width: 150px;
    height: auto;
    padding: 10px;
    float: right;
}
.centered {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    background-color: #7c886f; opacity: .8;
    width: 73%;
    height: 30%;
}

.centered p{
    height: 30%;
}