@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

:root{
    --primary-color: #606C38;
    --secondary-color: #BC6C25;
    --accent1-color:  #283618;
    --accent2-color: #DDA15E;

    --heading-font:'Inter', sans-serif;
    --paragragh-font:'Inter', sans-serif;

    --nav-background-color: #b6b087;
    --nav-link-color: #283618;
    --nav-hover-link-color: #283618;
    --nav-hover-background-color: #7c886f;
}

header{
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 300px 2fr;
    align-items: center;
    border-bottom: 1px solid #606C38;
    max-width: 1000px;
}
footer{
    display: grid;
    grid-template-columns: 1300px 200px;
    background-color: #606C38;
    align-items: center;
}


nav{
    text-align: right;
}

h2{
    text-align: center;
}

.adventure figcaption{
    text-align: center;
}

.hero{
    position: relative;
    text-align: center;
    left: 8%;
}

.hero h1{
    color: #fefefe;
    position: absolute;
    top: 10%;
    left: 0%;
    background-color: #DDA15E; opacity: .8;
    width: 80%;
}

.hero article{
    position: absolute;
}

.hero img{
    display: block ;
    width: 800px;
    height: 400px;
}

article{
    text-align: center;
    position: relative;
}

.centered img{
    width: 150px;
    height: auto;
    padding: 10px;
    float: right;
}

.centered {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    background-color: #7c886f; opacity: .8;
    width: 73%;
    height: 30%;
}

.centered p{
    height: 30%;
}

.navigation{
    display: flex;
    list-style: none;
}

.navigation li{
    flex: 1 1 100%;
}

.navigation a{
    display: block;
    color: #b6b087;
    padding: 20px;
    text-decoration: none;
}

.logo image{
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: 64px;
}

.adventure{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    list-style: none;
}

.adventure img{
    width: 200px;
    height: 200px;
}

.sociallinks img{
    width: 20px ;
    height: 20px;
}

p{
    text-align: center;
}
/*contact us css*/
.staff{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    list-style: none;
}

.staff img{
    width: 400px;
    height: 200px;
    
}

.staff figcaption{
    text-align: center;
    text-decoration: underline;
}

h2{
    padding: 50px;
}

.contact p{
    text-align: left;
}

.contact{
    position: absolute;
    top: 350px;
    left: 300px;
}

/*Form ccs*/
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .container p{
    display: inline-block;
  }
  
  .container h1{
    text-align: center;
  }

  form {
    width: 300px;
    margin: 0;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
    grid-template-areas: "." "form";
    grid-column-start: 4;
    grid-column-end: 4;
    font-size: small;
  }
  
  fieldset {
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
  }
  
  label {
    text-align: center;
    padding-right: 1rem;
  }
  
  input[type='text'],
  input[type='email'],
  textarea {
    padding: 0.5rem;
  }
  
  input[type='radio'] {
    width: 10px;
    height: 10px;
   
  }
  
  input[type='button'] {
    background-color: #7878c6;
    justify-self: start;

  }
  
  input[type="checkbox"] {
    display: inline-block; 
    vertical-align: middle; 
    margin-right: 10px; 
    width: 10px;
}
  
/*Home css*/ 
body {
    margin: 0;
    padding: 0;
}

.banner {
    position: relative;
    width: 1500px;
    max-width: 800px;
}


.banner img {
    width: 1600px;
    height: 400px;
}

.image-caption {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 500px;
}

.image-caption h1 {
    font-size: 2rem;
    margin: 0;
}

/*Home form*/
.home form{
    width: 300px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

.home fieldset{
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;

}

.home label{
    text-align: left;
    padding-right: 1rem;
}

.home input, select, textarea, radio {
    padding: 0.7rem;
    font-size: 1.1rem;
}

.home input[type="button"] {
    background-color: #606C38;
    margin-top: 10px;
    margin-left: 80px;

}

.home h2{
    text-align: center;
    padding: 5px;
    font-size: 1.1rem;
}

.content-column {
    width: 50%; /* Adjust the width as needed */
    float: left; /* Float the content to the left side */
    padding: 30px; 
    font-size: large;
}

h5{
    text-align: center;
    font-size: larger;
    text-decoration: underline;
}

.deals{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    list-style: none;
}

.deals img{
    width: 350px;
    height: 200px;
}

.deals figcaption{
    text-wrap: wrap;
    width: 350px;
    text-align: center;
}

/*trips css*/

table{ 
    float: right;
    margin-top: -680px; /* Adjust the margin as needed to position the table at the top */
    border-collapse: collapse;
    width: 550px;
    text-align: center;
    
}
 

table,
td {
  border: 1px solid #BC6C25;
  width: 800px;
  margin-right: 100px;
  margin-top: -850px;

}
thead,
tfoot {
  background-color: #606C38;
  color: #fff;
}

.popular{
    list-style: none;
}

h7{
   font-size: larger; 
   text-decoration: underline;
   padding-left: 137px;
}

.popular img{
    width: 300px;
}

.popular figcaption{
    text-wrap: wrap;
    width: 300px;
}

.booking p{
    padding: 30px;
    font-size: larger;
}