@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

:root{
    --primary-color:#FEFAE0
    --secondary-color:#606C38
    --accent1-color:#DDA15E
    --accent2-color:#BC6C25

    --heading-font: 'Inter', sans-serif;
    --paragragh-font: 'Inter', sans-serif;

    --nav-background-color:
    --nav-link-color:
    --nav-hover-link-color:
    --nav-hover-background-color:
}

body{
    font-family: var(--paragragh-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header{
    padding: 20px;
    color: var(--accent1-color);
}

p{
    padding: 25px;
}

nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}