* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form{
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset{
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

label{
    text-align: left;
    padding-right: 1rem;
}

input, select, textarea, radio {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input [type='radio']{
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}
input[type="radio"] {
    float: left; /* Move radio buttons to the left */
    margin-right: 10px; /* Add some space between radio button and label */
}
label {
    clear: left;
}
input[type="button"] {
    background-color: #7878c6;
}
h1{
    text-align: center;
    padding: 10px;
    font-size: 2rem;
}